{% extends "base.html" %}

{% block content %}

<div class="form-group mx-auto" style="width: 18rem;">
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
    <div class="row mt-2">
        {{ form.name(class="form-control", placeholder=form.name.label.text) }}
    </div>

    <div class="row mt-2">
        {{ form.price(class="form-control", placeholder=form.price.label.text) }}
    </div>

    <div class="row mt-2">
        {{ form.img(class="form-control", placeholder=form.img.label.text, accepts=".jpg,.png,.jpeg") }}
    </div>

    <div class="row mt-2">
        {{ form.link(class="form-control", placeholder=form.link.label.text) }}
    </div>
    {{ form.submit(class="btn btn-primary")}}


    </form>
</div>

{% endblock %}