{% extends "base.html" %}

{% block content %}

<div class="form-group mx-auto " style="width: 18rem;">
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
    <div class="row mt-2">
        {{ form.username(class="form-control", placeholder=form.username.label.text) }}
    </div>

    <div class="row mt-2">
        {{ form.password(class="form-control", placeholder=form.password.label.text) }}
    </div>

    <div class="row mt-2">
        {{ form.repeat_password(class="form-control", placeholder=form.repeat_password.label.text) }}
    </div>


    {{ form.register(class="btn btn-primary mt-2register.html")}}


    </form>
</div>

{% endblock %}